# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: calls
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: W$$PB$iLD%(:]BS

    close_io_base_url: https://app.close.io
    close_io_auth_basic: 'Basic NWYyNmJlZWIyNTIyZDA2ZjQ3ODUwZTU0NjNiZTI5YTUyMWU5NjBmY2Q5ZmU3ZDdhMzE3ODhhM2E6'

    close_io_skip: 0
    close_io_limit: 100
    close_io_skipKeys:
                    - remote_phone
                    - phone
                    - remote_phone_formatted